<div class="container">
  <div class="banner">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-5">
          <%= image_tag 'iphone-1.png', class: "iphone", id:"iphone-1", style: "z-index:5;" %>
          <%= image_tag 'iphone-2.png', class: "iphone", id:"iphone-2", style: "z-index:4;" %>
          <%= image_tag 'iphone-3.png', class: "iphone", id:"iphone-3", style: "z-index:3;" %>
          <%= image_tag 'iphone-4.png', class: "iphone", id:"iphone-4", style: "z-index:2;" %>
          <%= image_tag 'iphone-5.png', class: "iphone", id:"iphone-5", style: "z-index:1;" %>
          <%= image_tag 'iphone-6.png', class: "iphone", id:"iphone-6", style: "z-index:0;" %>
        </div>
        <div class="col-xs-6">
          <div class="banner-content-text text-justify">
            <h1><span style="font-weight:400;">Voici</span> Marco</h1>
            <p>Marco est un chatbot passioné de foot. Il connait parfaitement le calendrier de toutes les équipes de Ligue 1 et deviendra rapidement votre assistant personnel en matière de ballon rond.</p>
            <a href="https://m.me/362466140784031/" target="_blank" class="btn btn-messenger" >
              <%= image_tag 'facebook-messenger-logo.svg' %>
              <span>Discuter avec Marco</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>